.list-group{
  border: solid 1px #b1b1b1;
}

.list-group-item{
  background-image: url("../../images/background-light.png");
}

.list-group-item p {
  font-size: 15px;
}

/* .list-overflow {
  max-height: 600px;
  border: 1px #dddddd solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
} */
